/* remove scoll */
html { 
  overflow-y: hidden;
 }

/* top */
.header {
  background-color: maroon;
  color: white;
  height: 120px;
}
.title-container {
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Georgia, serif;
  font-weight: bolder;
}

.tu-logo{
  padding-right: 15px;
}

/* right */
.fixed-right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1030;
  background-color: maroon;
  width: 400px;
}

.info-container {
  /* transform: translateX(300%); */
  /* height: 100vh; */
}

/* clock */
.clock-container {
  /* position: absolute; */
  /* background: #3331; */
  text-align: center;
  margin: 20px;
  width: 100%;
}

.clock {
    color: #ddd;
    font-size: 50px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

.clock--date {
    color: #999;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 7px;
    line-height: 30px;
}
/* time controller */
.timeControllerContainer {
    color:white;
    padding: 50px;
    font-size: 24px;
    text-align: right;
    font-family: Orbitron;
}

/* bottom */
.footer {
  padding-top: 10px;
  text-align: center;
  background-color: maroon;
  color: white;
  height: 54px;
}

#mapid { 
  height: 1200px; 
}

.leaflet-tile-pane {
  /* filter: invert(1); */
}
/* car icon */
.car-icon-container {
  text-align: center;
}

.car-icon {
  background: white;
  border-radius: 50%;
  border: 2px solid #555;
  font-size: 0.7rem;
  font-weight: bolder;
  color: #333;

}

.car-icon-1A {
  background: yellow;
}
.car-icon-1B {
  background: lightblue;
}
.car-icon-2 {
  background: pink;
}
.car-icon-3 {
  background: orange;
  color: #ddd;
}
.car-icon-4 {
  background: green;
  color: #ddd;
}
.car-icon-5 {
  background: red;
  color: #ddd;
}
/* route */
.route-1a {
  /* transform: translate(-3px, 3px); */
}
.route-1b {
  /* transform: translate(3px, -3px); */
}
.route-3 {
  /* transform: translate(0px, 0px); */
}
.route-5 {
  /* transform: translate(10px, -6px); */
}

/* TU model overlay */
.tu-model-overlay {
}